include ../loading
.div.chatWindow(scroll-glue-bottom='scrollGlue || false', class='chatWindow-{{tab1.id}}')
	center: small#loadMoreBtn(ng-click='loadHistory(false)', ng-if='showLoadMore') &uarr; Load more &uarr;
	.panel-body
		.row
			.col-xs-11
				center(ng-if='loadingHistory')
					+loading('black')
				div(ng-repeat='message in messages | orderBy: message.time track by $index', id='{{message.id}}')
					.msg(class='msg-{{message.username}}')
						.time {{message.time | date : '[HH:mm:ss] '}}
						.username {{message.username}}: 
						.text {{message.text}}
form#messageForm(ng-submit='submit(msg)', novalidate, name='messageForm', ng-controller='sendMsgCtrl')
	.form-group
		.input-group
			.input-group-addon Say:
			input.form-control#message(size=35, ng-model='msg', required, ng-change='scrollGlue=false', autocomplete='off' autofocus)
			.input-group-btn
				button.btn.btn-info(type='submit') Send