include ../loading

.panel.panel-default#login(ng-controller='indexCtrl')
	.panel-heading
		h3.text-center Welcome!
			span(ng-if='showLoading')
				+loading('white')
	.panel-body
		form
			.container-fluid
				br
				.form-group
					.row
						.col-sm-6.col-sm-offset-3
							btn.btn.btn-login.form-control(ng-click='go("/signup")') Join us
				.form-group
					.row
						.col-sm-6.col-sm-offset-3
							btn.btn.btn-login.form-control(ng-click='go("/signin")') Sign in
				.form-group.pull-right
					label Fast login: 
					span.ui_btn(ng-click='fb_login()'): img.signin(src='/images/signin/fb.png', width=24)
					span.ui_btn(ng-click='vk_login()'): img.signin(src='/images/signin/vk.png', width=24)