include ../loading

.panel.panel-default#login(ng-init='$root.title=" - Sign up"', ng-controller='signupCtrl')
	.panel-heading
		h3 Registration
			span(ng-if='showLoading')
				+loading('white')
			.pull-right
				include backBtn
	.panel-body
		include ../errors
		form(ng-submit='submit()', autocomplete='off')
			input.hidden
			input.hidden(type='password')
			.form-group
				label Login
				input.form-control(type='text', ng-model='formData.login', value='#{login}')
			.form-group
				label Username (will be shown in chat, login is used by default)
				input.form-control(type='text', ng-model='formData.username', value='#{username}', placeholder='{{formData.login}}', maxlength=30)
			.form-group
				label Password
				input.form-control(type='password', ng-model='formData.password')
			.form-group
				label Re-enter the password
				input.form-control(type='password', ng-model='formData.password2')
			.row
				.col-sm-6.col-sm-offset-3
					.form-group
						button.btn.btn-login.form-control(type='submit') Sign Up